<?php

$dbhost  = "localhost";
$dbname  = "bzflaglsdb";
$dbuname = "bzlsuser";
$dbpass  = "xxxxxx";
$bbdbname = 'bzbb';
$bbdbprefix = 'bzbb3_';

$debugLevel = 0;      // set to >2 to see all sql queries (>1 to see GET/POST input args)
$debugFilename  = '/var/log/bzfls/bzfls.log';
$debugNoIpCheck = 0;  // for testing ONLY !!!
